.button {
  @include general-font;
  color: $base-white;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background-color: $base-primary;
  border-radius: 4px;
  display: block;
  border: none;
  outline: none;
  padding: 8px 20px;
  cursor: pointer;
}

.button--simple {
  color: $base-primary;
  background-color: $base-white;
}

.button:focus,
.button:hover {
  background-color: $primary-lighter;
}

.button:active {
  background-color: $primary-darker;
}

.button:disabled {
  background-color: $base-grey;
  cursor: default;
}

.button--simple:focus,
.button--simple:hover {
  background-color: $base-secondary;
}

.button--simple:active {
  background-color: $primary-lighter;
  color: $base-white;
}

.button--simple:disabled {
  background-color: $base-grey;
  color: $base-white;
  opacity: 0.6;
  cursor: default;
}
