/* здесь используйте глобальные селекторы img, body, html и так далее */
html {
  //Sticky footer
  height: 100%;
}

body {
  //Sticky footer
  display: flex;
  flex-direction: column;
  min-height: 100%;
  word-wrap: break-word;
}

//Sticky footer
.main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  object-fit: contain;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
