.input {
  @include general-font;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 8px 10px;
  border-radius: 4px;
  border: 2px solid $primary-lighter;
  background-color: $base-white;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.input[type="number"] {
  appearance: textfield;
}

.input:focus {
  outline-color: $primary-darker;
}

.input:disabled {
  border-color: $light-grey;
}
