.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0 0 40px;
}

.pagination__link {
  @include font-label;
  font-weight: 400px;
  color: $base-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  text-decoration: none;
  background-color: $base-white;
  border-radius: 4px;
}

.pagination__link--prev,
.pagination__link--next {
  font-size: 0;
}

.pagination__link--active {
  background-color: transparent;
  color: $base-black;
  font-weight: 600;
  cursor: default;
}

.pagination__link:not(.pagination__link--active):hover {
  opacity: 0.7;
}

.pagination__link:not(.pagination__link--active):active {
  opacity: 0.5;
}

.pagination__link-img {
  width: 6px;
  height: 12px;
  stroke: #f85a47;
  fill: none;
}

.pagination__link--disabled .pagination__link-img {
  stroke: #979899;
  opacity: 0.3;
}