.toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-items: start;
  justify-content: start;
  gap: 10px;
}

.toggle__control {
  appearance: none;
  position: absolute;
  cursor: pointer;
}

.toggle__label {
  @include font-label;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    word-break: break-all;
  }
}

.toggle__slider {
  position: relative;
  cursor: pointer;
  width: 42px;
  height: 24px;
  border-radius: 20px;
  border: 2px solid $base-grey;
  background-color: $base-grey;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 0;
  transition: 0.4s;
  flex-shrink: 0;
}

.toggle__slider::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: $base-white;
  border-radius: 50%;
  left: 0;
  top: 0;
  transition: transform 0.3s;
}

.toggle__control:checked + .toggle__slider {
  background-color: $base-primary;
  border-color: $base-primary;
}

.toggle__control:checked + .toggle__slider::before {
  transform: translateX(90%);
}

.toggle__control:hover + .toggle__slider,
.toggle__control:focus + .toggle__slider {
  background-color: rgb($base-primary, 0.25);
  border-color: $base-primary;
}

.toggle__control:disabled + .toggle__slider {
  background-color: $light-grey;
  border-color: $light-grey;
  cursor: default;
}

.toggle__control:checked:disabled + .toggle__slider::before {
  background-color: $base-grey;
}
