.catalog {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    ;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.catalog__item {
  background-color: $base-white;
  padding: 40px 20px 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-areas:
    'link link'
    'price button';
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    padding: 50px 30px 30px;
    margin: 0;
  }
}

.catalog__item:hover,
.catalog__item:focus-within {
  box-shadow: 0px 5px 15px 0px rgb($base-black, 0.15);
}

.catalog__item:last-child {
  margin-bottom: 0;
}

.catalog__link {
  text-decoration: none;
  color: $base-black;
  grid-area: link;
  outline: none;
}

.catalog__picture-wrapper {
  display: flex;
  justify-content: center;
}

.catalog__title {
  @include font-h3-mobile;
  margin: 25px 0 0;

  @media (min-width: $tablet-width) {
    @include font-h3-tablet;
    margin-top: 31px;
  }
}

.catalog__description {
  @include font-description-mobile;
  text-align: start;
  margin: 4px 0 0;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
  }
}

.catalog__price {
  @include font-price;
  margin: 18px 0 0;
  grid-area: price;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }
}

.catalog__button {
  grid-area: button;
  font-size: 14px;
  line-height: 20px;
  margin: 16px 0 0;
  background-image: url('../../images/icons/stack.svg#cart-plus');
  background-repeat: no-repeat;
  background-size: 20px 16px;
  background-position: 20px center;
  padding: 8px 20px 8px 46px;
  justify-self: end;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }
}