.filters-form__fieldset {
  margin: 0 0 31px;
  padding: 0;
  border: none;
}

.filters-form__fieldset-caption {
  @include font-label;
  padding: 0;
  margin-bottom: 20px;
}

.filters-form__fieldset-caption--price {
  margin-bottom: 30px;
}

.filters-form__option {
  margin-bottom: 20px;
}

.filters-form__option:last-child {
  margin-bottom: 0;
}

.filters-form__item {
  margin-bottom: 20px;
}

.filters-form__item:last-child {
  margin-bottom: 0;
}