.filter-range {
  position: relative;
}

.filter-range__controls {
  position: relative;
}

.filter-range__rail {
  height: 2px;
  background-color: $light-grey;
}

.filter-range__track {
  position: absolute;
  height: 4px;
  top: -50%;
  left: 0;
  background-color: $primary-lighter;
}

.filter-range__controls--disabled .filter-range__track {
  background-color: $base-grey;
}

.filter-range__handle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: $base-white;
  border: 2px solid $primary-lighter;
  cursor: pointer;
  outline: none;
}

.filter-range__handle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: $base-white;
  border-radius: 50%;
}

.filter-range__handle:hover::before,
.filter-range__handle:focus::before {
  background-color: rgb($base-primary, 0.25);
  outline: 2px solid $base-white;
  outline-offset: -2px;
}

.filter-range__handle:active::before {
  background-color: $primary-lighter;
  outline: 2px solid $base-white;
  outline-offset: -2px;
}

.filter-range__controls--disabled .filter-range__handle {
  border-color: $base-grey;
  cursor: default;
}

.filter-range__controls--disabled .filter-range__handle:hover::before,
.filter-range__controls--disabled .filter-range__handle:focus::before {
  background-color: $base-white;
}

.filter-range__input-interval {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 34px;
}

.filter-range__input-interval::before {
  position: absolute;
  content: "";
  top: 20px;
  left: 50%;
  width: 8px;
  height: 2px;
  transform: translate(-50%, 0);
  background-color: $base-grey;
}

.filter-range__input {
  width: 118px;
  height: 40px;

  @media (min-width: $tablet-width) {
    width: 88px;
  }

  @media (min-width: $desktop-width) {
    min-width: 134px;
  }
}

/* The width and position of the control elements for each filter */
.filter-range__track--initial {
  left: 0;
  right: 7%;
}

.filter-range__handle--initial-min {
  left: 0;
}

.filter-range__handle--initial-max {
  right: 7%;
}

#js-range-control {
  padding: 0 16px 0 6px;
  box-shadow: none;
  height: 1px;
  border-radius: 0;
  border: 1px solid $light-grey;
}

#js-range-control .noUi-connects {
  height: 2px;
  overflow: visible;
}

#js-range-control .noUi-connect {
  box-shadow: 0 -2px $primary-lighter;
  background-color: $primary-lighter;
}

#js-range-control .noUi-handle {
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: $base-white;
  border: 2px solid $primary-lighter;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

#js-range-control .noUi-handle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: $base-white;
  border-radius: 50%;
}

#js-range-control .noUi-handle::after {
  display: none;
}

#js-range-control .noUi-handle:hover::before,
#js-range-control .noUi-handle:focus::before {
  background-color: rgb($base-primary, 0.25);
  outline: 2px solid $base-white;
  outline-offset: -2px;
}

#js-range-control .noUi-handle:active::before {
  background-color: $primary-lighter;
  outline: 2px solid $base-white;
  outline-offset: -2px;
}
