.footer {
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
  }
}

.footer__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer__logo-image {
  width: 82px;
  height: 36px;

  @media (min-width: $tablet-width) {
    width: 170px;
    height: 36px;
  }
}

.footer__navigation {
  margin-top: 16px;

  @media (min-width: $tablet-width) {
    margin-top: 26px;
  }
}

.footer__copyright {
  margin: 20px 0 30px;

  @media (min-width: $tablet-width) {
    margin-top: 36px;
    margin-bottom: 40px;
  }
}
