.main-navigation {
  display: grid;
  grid-template-areas:
    'logo user-navigation menu-button'
    'site-navigation site-navigation site-navigation';
  grid-template-columns: 72px 1fr 60px;

  @media (min-width: $tablet-width) {
    grid-template-areas: 'logo site-navigation user-navigation';
    grid-template-columns: 90px 1fr 120px;
    gap: 0 10px;
  }

  @media (min-width: $desktop-width) {
    grid-template-areas: 'logo description site-navigation user-navigation';
    grid-template-columns: 170px 166px 1fr 280px;
    gap: 0;
  }
}

.main-navigation__logo {
  margin: 12px 0;
  grid-area: logo;
  justify-self: center;

  @media (min-width: $tablet-width) {
    margin: 22px 0;
    justify-self: start;
  }
}

.main-navigation__description {
  display: none;

  @media (min-width: $desktop-width) {
    grid-area: description;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    width: 126px;
    margin: 24px 20px 0;
  }
}

.main-navigation__site-navigation {
  @include list-reset;
  grid-area: site-navigation;
  align-self: self-start
}

.main-navigation__user-navigation {
  @include list-reset;
  margin-left: auto;
  grid-area: user-navigation;
}

.main-navigation__header-button {
  grid-area: menu-button;
  background-color: $base-white;
  border: none;
  padding: 0;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $desktop-width) {
    width: unset;
    height: unset;
    max-width: 130px;
  }
}

.main-navigation__header-button-image {
  width: 16px;
  height: 16px;
}

.main-navigation__header-button--menu {
  @media (min-width: $tablet-width) {
    display: none;
  }
}