.page-section {
  padding-top: 50px;
  background-color: $grey-pearl;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
  }
}

.page-section__title {
  @include font-badge;
  margin: 0;
}

.page-section__subtitle {
  @include font-h2-mobile;
  margin: 6px 0 0;

  @media (min-width: $tablet-width) {
    @include font-h2-tablet;
  }
}

.page-section__filters {
  margin: 20px 0 0;
}

.page-section__sorting {
  margin-top: 39px;
  margin-left: 2px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.page-section__navigation {
  margin-top: 36px;
}