.page-section {
  padding-top: 50px;
  background-color: $grey-pearl;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 98px;
    padding-bottom: 120px;
  }
}

.page-section__content {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-areas:
      "header header"
      "filters sorting"
      "filters catalog"
      "filters pagination";
    grid-template-columns: 318px 1fr;
    gap: 20px 30px;
  }
}

.page-section__header {
  @media (min-width: $desktop-width) {
    grid-area: header;
  }
}

.page-section__title {
  @include font-badge;
  margin: 0;
}

.page-section__subtitle {
  @include font-h2-mobile;
  margin: 6px 0 0;

  @media (min-width: $tablet-width) {
    @include font-h2-tablet;
  }
}

.page-section__filters {
  margin: 20px 0 0;

  @media (min-width: $desktop-width) {
    grid-area: filters;
  }
}

.page-section__sorting {
  margin-top: 39px;
  margin-left: 2px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    grid-area: sorting;
    margin-top: 16px;
    margin-right: 4px;
  }
}

.page-section__catalog-list {
  margin-top: 14px;
  min-height: 421px;

  @media (min-width: $tablet-width) {
    margin-top: 26px;
    min-height: 441px;
  }

  @media (min-width: $desktop-width) {
    grid-area: catalog;
    margin-top: 4px;
    min-height: 952px;
  }
}

.page-section__navigation {
  margin-top: 36px;

  @media (min-width: $tablet-width) {
    margin-top: 68px;
  }

  @media (min-width: $desktop-width) {
    grid-area: pagination;
    margin-top: 40px;
  }
}
