.slider {
  @include list-reset;
  display: flex;
  gap: 100%;
  overflow: hidden;
}

.slider__item {
  width: 100%;
  flex-shrink: 0;
  display: grid;
  align-items: start;
  grid-template-areas:
    "image image"
    "badge badge"
    "title title"
    "description description"
    "price button";
  grid-template-columns: 1fr 138px;

  @media (min-width: $tablet-width) {
    grid-template-areas:
      "badge badge"
      "title title"
      "description description"
      "price button"
      "image image";
    grid-template-columns: 1fr 1fr;
    gap: 0 6px;
  }

  @media (min-width: $desktop-width) {
    grid-template-areas:
      "image badge badge"
      "image title title"
      "image description description"
      "image price button";
    grid-template-rows: repeat(3, auto) 1fr;
    grid-template-columns: 670px auto 1fr;
    gap: 0 24px;
  }
}

.slider__title {
  @include font-h1-mobile;
  grid-area: title;
  margin: 4px 0 0;
  text-wrap: wrap;

  @media (min-width: $tablet-width) {
    @include font-h1-tablet;
  }

  @media (min-width: $desktop-width) {
    @include font-h1-desktop;
    text-align: start;
  }
}

.slider__picture-wrapper {
  grid-area: image;
  justify-self: center;

  @media (min-width: $tablet-width) {
    align-self: center;
    justify-self: center;
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    align-self: start;
    justify-self: end;
    margin-top: 0;
    margin-right: 6px;
  }
}

.slider__image {
  @media (min-width: $tablet-width) {
    width: 476px;
    height: 476px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 600px;
  }
}

.slider__badge {
  @include font-badge;
  grid-area: badge;
  margin: 10px 0 0;
  z-index: 1;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 150px;
    text-align: start;
  }
}

.slider__description {
  @include font-description-mobile;
  grid-area: description;
  margin: 10px 0 0;

  @media (min-width: $tablet-width) {
    @include font-description-tablet;
    max-width: 608px;
    margin: 16px auto 0;
  }

  @media (min-width: $desktop-width) {
    @include font-description-desktop;
    max-width: 608px;
    margin: 16px 0 0;
    text-align: start;
  }
}

.slider__price-wrapper {
  grid-area: price;
  margin: 24px 24px 0 10px;
  z-index: 1;
  justify-self: end;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @media (min-width: $tablet-width) {
    margin: 24px 20px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 44px 0 0;
  }
}

.slider__old-price {
  @include font-old-price;
  max-width: 40px;
  display: block;
}

.slider__price {
  @include font-price;
  max-width: 50px;
  display: block;
}

.slider__button {
  grid-area: button;
  justify-self: start;
  align-self: start;
  margin: 20px 0 0;
  z-index: 1;
  max-width: 114px;

  @media (min-width: $desktop-width) {
    margin-top: 40px;
  }
}
