.slider-controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.slider-controls__button {
  color: $base-primary;
  z-index: 1;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 20px;

  @media (min-width: $tablet-width) {
    width: 80px;
  }
}

.slider-controls__image {
  display: block;
  width: 11px;
  height: 20px;
  transform: translate(-10%, 0);

  @media (min-width: $tablet-width) {
    transform: none;
  }
}

.slider-controls__button--next {
  transform: rotate(180deg);
}

.slider-controls__button--prev .slider-controls__image {
  @media (min-width: $tablet-width) {
    margin-top: 310px;
    align-self: start;
  }

  @media (min-width: $desktop-width) {
    margin-top: 346px;
  }
}

.slider-controls__button--next .slider-controls__image {
  @media (min-width: $tablet-width) {
    margin-bottom: 310px;
    align-self: end;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 346px;
  }
}

.slider-controls__button:hover,
.slider-controls__button:focus {
  background-image: linear-gradient(90deg, $base-white 0%, transparent 100%);
}

.slider-controls__button:active {
  background-image: linear-gradient(
    90deg,
    rgb($base-primary, 0.25) 0%,
    transparent 100%
  );
}

.slider-controls__button:disabled {
  color: $base-grey;
  cursor: default;
  background-image: none;
}
