.sorting {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 6px;

  @media (min-width: $tablet-width) {
    justify-content: end;
    gap: 10px;
  }
}

.sorting__label {
  @include font-label;
  display: block;
  max-width: 110px;
  margin-top: 4px;
}

.sorting__select {
  @include font-label;
  color: $base-primary;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 4px 27px 4px 13px;
  appearance: none;
  background-image: url('../../images/icons/stack.svg#select-arrow-down');
  background-repeat: no-repeat;
  background-size: 11px;
  background-position: right 7px center;
  max-width: 165px;
}

.sorting__select:hover {
  background-color: $base-secondary;
}

.sorting__select:focus {
  background-image: url('../../images/icons/stack.svg#select-arrow-up');
}
